.admin {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  width: 70%;
  min-height: 70vh;
  border-radius: 5px;
  border: 1px solid #333;
  margin-top: 50px;
  &__nav {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    background-color: #ccc;
    border-bottom: 1px solid gray;
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 75px;
      font-size: 25px;
      font-weight: bold;
      margin-left: 40px;
      margin-right: 20px;
      &__btns {
        display: flex;
        justify-content: space-between;
        height: 30px;
        width: 200px;
      }
    }
  }
  &__workspace {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.travField {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & h5 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 25px;
    margin-top: 10px;
    list-style: none;
    &__item {
      display: flex;
      justify-content: space-around;
      margin-top: 5px;
      border-bottom: 1px solid #ccc;
      width: 100%;
      &__name {
        width: 20%;
      }
      &__year {
        width: 20%;
      }
      &__btns {
        display: flex;
        width: 200px;
        justify-content: space-evenly;
        &__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ddd;
          background-color: rgb(80, 114, 194);
          border: none;
          margin-left: 10px;
          border-radius: 10%;
          height: 20px;
          width: 35px;
          &:hover {
            font-weight: bold;
            background-color: blue;
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.delete {
  background-color: #d44d;
  color: white;
  margin-left: 10px;
  border-radius: 2px;
  & a {
    color: white;
  }
  &:hover {
    font-weight: bold;
    background-color: red;
    cursor: pointer;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 950px) {
  .travField {
    display: flex;
    &__list {
      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #333;

        &__name {
          text-align: center;
          margin-bottom: 10px;
        }
        &__year {
          text-align: center;
          margin-bottom: 10px;
        }
        &__btns {
          margin-bottom: 10px;
        }
      }
    }
  }
}
